<h2> Ingredient List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>PhotoURL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ingredient of ingredients">
            <td> {{ingredient.name}}</td>
            <td> {{ingredient.photoURL}}</td>
            <td>
                <button (click) = "updateIngredient(ingredient.id)" class="btn btn-info">Update</button>
                <button (click) = "deleteIngredient(ingredient.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                <button (click) = "ingredientDetails(ingredient.id)" class="btn btn-info" style="margin-left: 10px">View</button>
            </td>
        </tr>
    </tbody>
</table>
