<h3> View Ingredient Details</h3>
<div>
    <div>
        <label> <b>Name: </b></label> {{ingredient.name}}
    </div>
    <div>
        <label> <b>Photo URL: </b></label> {{ingredient.photoURL}}
    </div>
</div>