<div class="col-md-6 offset-md-3">
    <h3> Update Ingredient</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id = "name"
            [(ngModel)] = "ingredient.name" name="name">
        </div>
        <div class="form-group">
            <label>Photo URL</label>
            <input type="text" class="form-control" id = "photoURL"
            [(ngModel)] = "ingredient.photoURL" name="photoURL">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
        
    </form>
</div>