<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="ingredients" routerLinkActive="active" class="nav-link">Ingredient List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-ingredient" routerLinkActive="active" class="nav-link">Add Ingredient</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2020 @DeVis</span>
    </div>
</footer>